$colors: (
    primary: #61B0B7,
    accent: #7b94c9,
);

@function color ($color-name) {
    @return map-get($colors, $color-name )
}

$desktop: 840px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

* {
    user-select: none;
}

#hero {
    padding-top: 6rem;

    @include desktop() {
        padding-top: 10rem;
    }
}
.brand_name {
    text-transform: uppercase;
    font-size: 40px;

    @include desktop() {
        font-size: 60px;
    }
}

.break {
    display: block;
}

.ani_one {
    animation-name:up-and-down ;
    animation-duration: 2s;
    transform: translateY(-60px);
}

@keyframes up-and-down {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

        80% {
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(-60);
    }
}

a {
    text-decoration: none;
}

.shop-btn {
    padding-left: 2rem;
    padding-right: 2rem;
    border-color: color(primary);
}

.join_btn {
    background-color: color(primary);
    border-color: color(primary);
    color: #fff;
}

.join_btn:hover {
    background-color: #fff;
    border-color: color(primary);
    color: color(primary);
}

.shop-btn:hover {
    background-color: color(primary);
    color: #fff;
}

#dark_section {
    background-color: rgba(156, 156, 156, 0.068);
    width: 100%;
}

#blue_section {
    background-color: color(accent);
}

.accent_text {
    color: color(accent);
}
.accent_button {
    padding-left: 2rem;
    padding-right: 2rem;
    border-color: color(primary);
    background-color: color(accent);
    color: #fff;
}

.sidebyside  {
    display: inline-block;
}


.mobile_hero_img {
    margin-top: 50px;

    @include desktop() {
        margin-top: 0;
    }
}
.form-head  {
    text-transform: uppercase;
    margin-top: 30px;
}

.form-sub-head {
    font-size: 28px;
    color: color(accent);
}


.link_p {
    font-size: 10px;
}